# 前期後半の課題

## 第8回

次のコードを実行しデータセットを取得しなさい。

In [1]:
import seaborn as sns

penguins = sns.load_dataset("penguins")
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

ここでは、全結合のニューラルネットで分類モデルを定義する。`penguins`のデータセットにおいて、ターゲットを3クラスの`speicies`、説明変数を`species`以外の変数にする。

### 問1

3値分類のニューラルネットで訓練できるよう、`penguins`のデータセットに対して前処理を行いなさい。また、PyTorchのニューラルネットで学習できるように、データセットの型を変換して、`train`と`val`と`test`に3分割しなさい。

【補足】  
第9回の講義ではここで作ったデータセットを使って、モデルを訓練して評価します。良いモデルとなるように工夫して前処理しましょう。

In [2]:
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [6]:
# 各カラムにおける欠損値の数を調べる
missing_values = penguins.isnull()
missing_values.sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [7]:
# 欠損値が存在するフィールドの数を調べる
missing_values.sum().sum()

19

In [9]:
# 欠損値が存在するフィールドを削除
penguins.dropna(inplace=True)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
# 欠損値が存在するフィールドの数を調べる
penguins.isnull().sum().sum()

0

In [12]:
# speciesのカラムの値を0をAdelie、1をChinstrap、2をGentooに対応させる
species_mapping = {'Adelie': 0, 'Chinstrap': 1, 'Gentoo': 2}

# speciesカラムの値を指定した数値に変換
penguins['species'] = penguins['species'].map(species_mapping)
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Torgersen,39.1,18.7,181.0,3750.0,Male
1,0,Torgersen,39.5,17.4,186.0,3800.0,Female
2,0,Torgersen,40.3,18.0,195.0,3250.0,Female
4,0,Torgersen,36.7,19.3,193.0,3450.0,Female
5,0,Torgersen,39.3,20.6,190.0,3650.0,Male

In [13]:
# islandとsexのカラムをワンホットエンコードする
import pandas as pd

penguins = pd.get_dummies(penguins, columns=['island', 'sex'])
penguins.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,island_Biscoe,island_Dream,island_Torgersen,sex_Female,sex_Male
0,0,39.1,18.7,181.0,3750.0,False,False,True,False,True
1,0,39.5,17.4,186.0,3800.0,False,False,True,True,False
2,0,40.3,18.0,195.0,3250.0,False,False,True,True,False
4,0,36.7,19.3,193.0,3450.0,False,False,True,True,False
5,0,39.3,20.6,190.0,3650.0,False,False,True,False,True

### 問2

`penguins`のデータセットに対して、3値分類のニューラルネットワークモデルをPytorchで定義しなさい。ただし、3層以上の全結合ニューラルネットで、活性化関数はすべてReLU関数にすること。ただし、学習は行わなくて良い。

### 問3

作ったニューラルネットワークモデルに、`test`のいずれかのデータを入力して、正しく動作することを確認しなさい。

## 第9回

テーブルデータに対して、全結合層のニューラルネットワークで分類モデルを作成する。

1. テーブルデータには、Pythonライブラリの`seaborn.load_dataset("penguins")`を用いる。説明変数を `['island', 'bill_length_mm', 'bill_depth_mm','flipper_length_mm', 'body_mass_g', 'sex']`、目的変数を`species`とする。データの前処理を行い、全結合層のニューラルネットワークモデルで学習を行うためのデータセットを作成しなさい。

In [1]:
# データセットを準備
import seaborn
df = seaborn.load_dataset("penguins")

In [7]:
# 欠損行を調べる
df[df.isnull().any(axis=1)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [8]:
# 欠損行を削除
df.dropna(inplace=True)
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

In [12]:
# ラベルエンコード
from sklearn.preprocessing import LabelEncoder

for col in ["species", "island", "sex"]:
    df[col] = LabelEncoder().fit_transform(df[col])
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
4,0,2,36.7,19.3,193.0,3450.0,0
5,0,2,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...,...
338,2,0,47.2,13.7,214.0,4925.0,0
340,2,0,46.8,14.3,215.0,4850.0,0
341,2,0,50.4,15.7,222.0,5750.0,1
342,2,0,45.2,14.8,212.0,5200.0,0
343,2,0,49.9,16.1,213.0,5400.0,1

In [13]:
df.describe()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,0.918919,0.651652,43.992793,17.164865,200.966967,4207.057057,0.504505
std,0.889718,0.714715,5.468668,1.969235,14.015765,805.215802,0.500732
min,0.000000,0.000000,32.100000,13.100000,172.000000,2700.000000,0.000000
25%,0.000000,0.000000,39.500000,15.600000,190.000000,3550.000000,0.000000
50%,1.000000,1.000000,44.500000,17.300000,197.000000,4050.000000,1.000000
75%,2.000000,1.000000,48.600000,18.700000,213.000000,4775.000000,1.000000
max,2.000000,2.000000,59.600000,21.500000,231.000000,6300.000000,1.000000

In [14]:
# 正規化
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']] = scaler.fit_transform(df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']])
df.describe()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
count,333.000000,333.000000,3.330000e+02,3.330000e+02,3.330000e+02,3.330000e+02,333.000000
mean,0.918919,0.651652,3.840772e-16,6.401286e-16,2.133762e-16,-1.707010e-16,0.504505
std,0.889718,0.714715,1.001505e+00,1.001505e+00,1.001505e+00,1.001505e+00,0.500732
min,0.000000,0.000000,-2.177987e+00,-2.067291e+00,-2.069852e+00,-1.874435e+00,0.000000
25%,0.000000,0.000000,-8.227879e-01,-7.958519e-01,-7.836512e-01,-8.172292e-01,0.000000
50%,1.000000,1.000000,9.288742e-02,6.872642e-02,-2.834620e-01,-1.953432e-01,1.000000
75%,2.000000,1.000000,8.437412e-01,7.807321e-01,8.598276e-01,7.063915e-01,1.000000
max,2.000000,2.000000,2.858227e+00,2.204743e+00,2.146028e+00,2.603144e+00,1.000000

2. 問1のデータセットに対して、全結合層のニューラルネットワークモデルを定義しなさい。そして、訓練していない状態でテストデータを入力し、正答率を算出しなさい。

In [117]:
# 訓練データ, バリデーション, テストデータに分割

import torch
from torch.utils.data import TensorDataset, DataLoader

ds_x = torch.Tensor(df.drop(columns="species").to_numpy())
ds_y = torch.Tensor(df["species"].to_numpy())
ds = TensorDataset(ds_x, ds_y)

ds_train, ds_val, ds_test = torch.utils.data.random_split(dataset=ds, lengths=[233, 50, 50], generator=torch.Generator().manual_seed(42))

batch_size = 32
ds_train = DataLoader(ds_train, batch_size=batch_size)
ds_val = DataLoader(ds_val, batch_size=batch_size)
ds_test = DataLoader(ds_test, batch_size=batch_size)

In [118]:
device = (
    "cuda"
    if torch.cuda.is_available()
    else "mps"
    if torch.backends.mps.is_available()
    else "cpu"
)
print(f"Using {device} device")

Using cpu device

In [119]:
import torch.nn as nn

class NeuralNetwork(nn.Module):
    def __init__(self):
        super().__init__()
        self.fc1 = nn.Linear(6, 6)
        self.fc2 = nn.Linear(6, 3)

    def forward(self, x):
        x = nn.functional.tanh(self.fc1(x))
        x = self.fc2(x)
        return x

model = NeuralNetwork().to(device)
print(model)

NeuralNetwork(
  (fc1): Linear(in_features=6, out_features=6, bias=True)
  (fc2): Linear(in_features=6, out_features=3, bias=True)
)

In [120]:
correct = 0                                                     # 正しい予測の数
total = 0                                                       # テストデータの総数
model.eval()
with torch.no_grad():
    for x, y in ds_test:                                        # テストデータセット（ds_test）からデータ（x）とラベル（y）をバッチごとに取り出す
        outputs = model(x.to(device))                           # 入力データをモデルに渡して予測を取得
        _, predicted = torch.max(outputs, 1)                    # 最大値のインデックスを取得し、予測クラスとする
        print(predicted)
        total += y.size(0)                                      # テストデータの総数を更新
        correct += (predicted == y.to(device)).sum().item()     # 正しい予測の数を更新

accuracy = 100 * correct / total                                # 正答率を計算（正しい予測の割合をパーセンテージで表す）
print(f'正答率: {accuracy:.2f}%')                               # 正答率を表示

tensor([0, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 2, 2, 2,
        0, 0, 0, 0, 0, 0, 2, 0])
tensor([2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0])
正答率: 46.00%

3. 問2のニューラルネットワークモデルを問1のデータセットで訓練しなさい。訓練後、問2と同様にテストデータを入力し、正答率を算出しなさい。ただし、正答率があがるようにunit数を変更するなど、モデルのアーキテクチャを工夫し、過学習を防ぐために学習中の損失関数をプロットしなさい。

In [121]:
loss_fn = nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.01)

In [122]:
def train(dataloader, model, loss_fn, optimizer):
    model.train()
    for batch, (X, y) in enumerate(dataloader):
        X, y = X.to(device), y.to(device)

        pred = model(X)
        loss = loss_fn(pred, y.long())

        loss.backward()
        optimizer.step()
        optimizer.zero_grad()


def val(dataloader, model, loss_fn):
    size = len(dataloader.dataset)
    num_batches = len(dataloader)
    model.eval()
    test_loss, correct = 0, 0
    with torch.no_grad():
        for x, y in dataloader:
            x, y = x.to(device), y.to(device)
            pred = model(x)
            test_loss += loss_fn(pred, y.long()).item()
            correct += (pred.argmax(1) == y).type(torch.float).sum().item()
    test_loss /= num_batches
    correct /= size
    print(correct, test_loss)

In [123]:
epochs = 100
for t in range(epochs):
    print(f"Epoch {t+1}")
    train(ds_train, model, loss_fn, optimizer)
    val(ds_val, model, loss_fn)

Epoch 1
0.54 1.0610259175300598
Epoch 2
0.62 1.0211183428764343
Epoch 3
0.66 0.9837880730628967
Epoch 4
0.7 0.9487901031970978
Epoch 5
0.74 0.9159345328807831
Epoch 6
0.74 0.8850697875022888
Epoch 7
0.78 0.8560701012611389
Epoch 8
0.78 0.8288264572620392
Epoch 9
0.78 0.8032396733760834
Epoch 10
0.78 0.779216855764389
Epoch 11
0.78 0.7566682696342468
Epoch 12
0.78 0.7355063855648041
Epoch 13
0.78 0.7156457006931305
Epoch 14
0.78 0.6970023810863495
Epoch 15
0.78 0.6794944703578949
Epoch 16
0.78 0.6630429625511169
Epoch 17
0.8 0.6475716531276703
Epoch 18
0.8 0.6330077648162842
Epoch 19
0.8 0.6192823350429535
Epoch 20
0.8 0.6063300371170044
Epoch 21
0.8 0.5940898656845093
Epoch 22
0.8 0.5825047492980957
Epoch 23
0.8 0.5715213119983673
Epoch 24
0.8 0.561090499162674
Epoch 25
0.8 0.5511666536331177
Epoch 26
0.8 0.5417078733444214
Epoch 27
0.8 0.5326755344867706
Epoch 28
0.8 0.524034172296524
Epoch 29
0.8 0.5157512873411179
Epoch 30
0.8 0.5077971518039703
Epoch 31
0.8 0.5001445561647415
Epoch 32
0.8 0.49276864528656006
Epoch 33
0.8 0.4856468439102173
Epoch 34
0.8 0.4787583351135254
Epoch 35
0.8 0.4720843732357025
Epoch 36
0.82 0.46560777723789215
Epoch 37
0.82 0.45931294560432434
Epoch 38
0.82 0.4531857371330261
Epoch 39
0.84 0.447213277220726
Epoch 40
0.84 0.44138385355472565
Epoch 41
0.84 0.43568700551986694
Epoch 42
0.84 0.4301130175590515
Epoch 43
0.84 0.42465338110923767
Epoch 44
0.84 0.4193001687526703
Epoch 45
0.84 0.41404634714126587
Epoch 46
0.84 0.4088856279850006
Epoch 47
0.84 0.4038122892379761
Epoch 48
0.84 0.3988211303949356
Epoch 49
0.84 0.3939076364040375
Epoch 50
0.84 0.38906770944595337
Epoch 51
0.86 0.38429760932922363
Epoch 52
0.88 0.379594162106514
Epoch 53
0.9 0.374954491853714
Epoch 54
0.9 0.37037596106529236
Epoch 55
0.9 0.3658563047647476
Epoch 56
0.92 0.36139363050460815
Epoch 57
0.92 0.35698604583740234
Epoch 58
0.92 0.3526320606470108
Epoch 59
0.92 0.3483303487300873
Epoch 60
0.92 0.34407977759838104
Epoch 61
0.92 0.33987919986248016
Epoch 62
0.92 0.335727795958519
Epoch 63
0.92 0.3316248655319214
Epoch 64
0.92 0.3275696337223053
Epoch 65
0.92 0.32356154918670654
Epoch 66
0.92 0.3196001946926117
Epoch 67
0.92 0.3156850337982178
Epoch 68
0.92 0.3118157684803009
Epoch 69
0.92 0.30799204111099243
Epoch 70
0.92 0.3042135536670685
Epoch 71
0.92 0.30048003792762756
Epoch 72
0.92 0.29679135978221893
Epoch 73
0.92 0.29314714670181274
Epoch 74
0.92 0.2895473539829254
Epoch 75
0.92 0.28599168360233307
Epoch 76
0.92 0.2824799716472626
Epoch 77
0.92 0.27901214361190796
Epoch 78
0.92 0.27558784931898117
Epoch 79
0.92 0.27220699191093445
Epoch 80
0.92 0.2688693404197693
Epoch 81
0.92 0.26557470113039017
Epoch 82
0.92 0.26232289522886276
Epoch 83
0.92 0.2591136693954468
Epoch 84
0.92 0.2559468075633049
Epoch 85
0.92 0.25282204151153564
Epoch 86
0.92 0.24973911046981812
Epoch 87
0.92 0.24669773876667023
Epoch 88
0.92 0.2436976656317711
Epoch 89
0.92 0.24073860049247742
Epoch 90
0.96 0.23782017827033997
Epoch 91
0.96 0.23494213819503784
Epoch 92
0.96 0.2321041077375412
Epoch 93
0.98 0.22930581122636795
Epoch 94
0.98 0.2265467643737793
Epoch 95
0.98 0.22382672876119614
Epoch 96
0.98 0.22114528715610504
Epoch 97
0.98 0.218502014875412
Epoch 98
0.98 0.21589653193950653
Epoch 99
0.98 0.21332845091819763
Epoch 100
0.98 0.21079736948013306

In [124]:
correct = 0
total = 0
model.eval()
with torch.no_grad():
    for x, y in ds_test:
        outputs = model(x.to(device))
        _, predicted = torch.max(outputs, 1)
        total += y.size(0)
        correct += (predicted == y.to(device)).sum().item()
        

accuracy = 100 * correct / total
print(f'正答率: {accuracy:.2f}%')

正答率: 96.00%

## 第11回

1. データセット`Fashion-MNIST`に対して、畳み込みニューラルネットワークの画像分類モデルを作成しなさい。
    - Fashion-MNIST: https://github.com/zalandoresearch/fashion-mnist
    - Fashion-MNIST を全結合ニューラルネットワークで分類したモデル： https://pytorch.org/tutorials/beginner/basics/quickstart_tutorial.html

- 全結合層: 線形変換 → ReLU
- 畳み込み層: 畳み込み → ReLU → Pooling

2. 分類してみたい画像データの候補をあげなさい。

## 第12回

1. 強化学習のライブラリ`https://github.com/Farama-Foundation/Gymnasium`をインストールして、Pythonファイルで`import`できることを確認しなさい。次回の講義で使います。
2. 強化学習を行ってみたいタスクをあげなさい。`https://gymnasium.farama.org`の`Environments`を参考にしてもよい。
3. 全結合層ニューラルネットについて、下記の例で確認しなさい。
    - https://pytorch.org/tutorials/beginner/basics/quickstart_tutorial.html
4. 畳み込みニューラルネットについて、下記の例で確認しなさい。
    - https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html

※ 前期の最終試験は、全結合層ニューラルネットor畳み込みニューラルネットの実装を出題します。

In [1]:
# 1. 強化学習のライブラリのインストール・importできることの確認
import gymnasium as gym
env = gym.make("CartPole-v1")

observation, info = env.reset(seed=42)
for _ in range(1000):
    action = env.action_space.sample()
    observation, reward, terminated, truncated, info = env.step(action)

    if terminated or truncated:
        observation, info = env.reset()
env.close()

2. 強化学習を行ってみたいタスクをあげなさい。
- ブラックジャック

## 第13回

### 問1

全結合層で、入力を $6$ 次元ベクトル、出力を $12$ 次元ベクトルとなるように実装し、乱数で実際に動かしなさい。実装には`torch.nn.Linear`を使いなさい。

In [9]:
import torch
import torch.nn as nn
# モデルをインスタンス (in_features=6, out_features=12)
m = nn.Linear(6, 12)
# 6次元ベクトルの乱数
input = torch.randn(6)

output = m(input)
print(output.size())
print(output)

torch.Size([12])
tensor([ 0.2377,  0.2730,  0.0446,  0.1499, -0.2096,  0.1341,  0.1845,  0.2168,
        -0.3328, -0.0050, -0.4401,  0.4708], grad_fn=<ViewBackward0>)

### 問2

畳み込み層で、入力を " $3$ チャンネル, $28 \times 28$ の $2$ 次元データ", カーネルサイズを $(4, 4)$ , 出力チャンネルを $1$ チャンネルとなるように実装し、乱数で実際に動かしなさい。実装には`torch.nn.Conv2d`を使いなさい。

In [20]:
m = nn.Conv2d(in_channels=3, out_channels=1, kernel_size=(4, 4))
input = torch.randn(3, 28, 28)
output = m(input)
print(input.size())

torch.Size([3, 28, 28])

In [18]:
print(output.size())
print(output)

torch.Size([1, 25, 25])
tensor([[[ 3.4915e-02, -9.4747e-01,  1.3592e-01, -8.6957e-01, -2.6183e-02,
           4.6550e-01, -4.6418e-01, -1.9362e-01,  8.6146e-01, -9.7878e-01,
           1.8047e-03,  1.3663e+00,  6.3965e-02,  1.9485e-01, -4.6085e-01,
           1.2662e-01, -1.2600e-01, -3.9953e-01,  4.4695e-01,  3.5632e-01,
           8.5603e-01,  2.7307e-02, -2.8006e-01, -4.1733e-01,  6.3724e-02],
         [ 7.0127e-01, -6.2151e-01,  4.3520e-01, -5.0372e-01,  4.6047e-01,
           3.9347e-01, -4.6726e-01, -1.6885e-01,  5.4482e-01,  2.3183e-01,
          -8.1326e-01,  4.3162e-02, -3.5952e-02,  8.5445e-01, -2.1357e-01,
           2.1841e-01, -2.5896e-01, -1.7895e-01, -1.2850e+00, -4.8548e-01,
           5.0518e-02, -1.7835e-01, -2.3017e-01,  4.4406e-01, -1.0214e-01],
         [ 1.5983e-02, -1.1564e+00, -5.7285e-01, -4.4076e-01,  9.1952e-01,
           8.6458e-01,  1.3436e-01,  1.7117e-01, -3.4787e-01, -1.2508e-01,
          -9.3661e-01, -8.7304e-01, -2.2475e-01,  1.0609e+00, -4.6408e-01,
           2.6449e-01,  3.8888e-01,  1.3748e-01,  1.2527e-01,  2.0164e-01,
          -2.5415e-01, -4.4262e-01,  1.8231e-01, -3.7544e-01, -5.7345e-01],
         [ 2.4815e-01, -1.5106e+00, -5.8376e-02, -1.9482e-02,  8.5824e-01,
           7.1591e-01, -4.7351e-01, -6.0920e-01,  6.2502e-01, -5.4351e-02,
          -8.0753e-01, -2.6052e-02, -9.6563e-01,  3.9933e-01, -5.5848e-01,
          -4.4476e-01,  1.6478e-01, -6.8201e-02,  9.1595e-02,  3.0697e-01,
          -5.5015e-01, -9.9116e-01,  1.3027e+00, -4.8484e-01, -5.5438e-02],
         [-1.2057e-01, -7.6254e-01, -6.2887e-02,  3.7839e-01,  1.0094e-02,
          -3.3038e-02,  5.8490e-02,  3.3927e-01,  9.0166e-02,  5.7453e-01,
           1.5874e-01,  4.1015e-01, -1.4537e-01,  4.1093e-01,  8.3160e-02,
           4.6170e-02, -4.0074e-01, -6.4094e-01,  2.2027e-02, -7.0465e-01,
          -2.6389e-01, -5.5843e-01,  6.9535e-01,  5.2983e-01, -4.6287e-01],
         [ 3.0074e-01, -5.0836e-01,  8.6557e-01, -5.1450e-01,  3.1824e-01,
          -6.7524e-01, -4.6951e-01,  2.1643e-01, -3.8474e-01, -5.2775e-01,
           2.2755e-02, -7.5776e-01,  5.2382e-02, -2.6513e-01, -2.5667e-01,
          -8.2338e-01,  2.2002e-01,  3.6810e-02,  9.3427e-01,  6.5243e-01,
          -6.8077e-01, -1.1552e+00, -6.0602e-01,  1.9529e-02,  4.6158e-02],
         [-2.7220e-01, -4.4886e-01,  4.0323e-01,  4.1529e-01, -1.8639e-01,
          -5.7163e-02,  4.5037e-01, -2.3277e-01,  8.7205e-01,  3.2714e-02,
          -1.4272e-01, -5.0817e-01, -9.9103e-02,  3.1129e-01,  2.8388e-01,
          -7.6704e-01, -2.1738e-01, -1.0810e-01, -1.9467e-01,  1.8755e-01,
           8.1550e-01,  5.1441e-02,  3.2094e-01,  9.2485e-01,  1.4348e-01],
         [-5.1095e-01, -1.1088e-01,  4.0852e-01, -6.0892e-01,  1.9389e-01,
          -8.3513e-01,  2.0817e-02, -2.9495e-01,  3.6149e-01,  5.5252e-01,
          -1.5568e-01,  2.5496e-01, -2.3503e-01, -5.6402e-01, -1.1696e+00,
           1.7496e-01, -4.1206e-01, -4.3126e-01, -5.2506e-01,  7.7210e-02,
           4.4336e-01,  1.1575e-01,  4.8620e-01, -6.9660e-01, -1.3601e-01],
         [-7.1157e-01, -1.8034e-01, -1.1429e-01, -3.7545e-01,  3.1147e-03,
           8.6897e-01,  4.1030e-01,  2.9787e-01,  8.6124e-01, -1.1463e+00,
          -4.3237e-01,  1.7712e-01,  2.4675e-01,  8.9031e-01, -6.1969e-01,
          -1.2209e-01, -1.2599e-01,  4.1588e-01, -4.4590e-01,  5.4262e-01,
           5.7077e-02,  1.9558e-01, -9.9019e-01, -7.6166e-02,  5.7691e-01],
         [-1.2221e+00, -2.0259e-01,  3.3786e-01, -2.3318e-01, -2.4878e-02,
           3.0627e-02,  7.9498e-02, -7.9740e-02,  3.3831e-01, -2.5213e-01,
          -2.4815e-01, -4.4754e-02,  1.8677e-01,  7.4548e-01, -4.0161e-01,
          -4.9827e-01, -5.5008e-01,  3.3562e-02,  1.9232e-02,  5.6577e-01,
           6.9784e-01,  1.1028e+00, -1.0032e+00,  1.8679e-01,  1.8236e-02],
         [-2.0537e-01,  4.5188e-02,  1.3752e-01, -6.2978e-01, -6.4764e-01,
          -4.3434e-02,  4.4431e-01,  7.2984e-02,  2.8429e-01, -1.4338e-01,
          -1.0433e+00, -1.6799e-01, -1.6389e-01,  4.4054e-01, -6.1448e-01,
          -3.4106e-01,  1.3728e-01, -4.6105e-01,  2.5653e-02, -5.1053e-01,
          -8.6387e-01, -5.1164e-01, -4.5795e-01, -1.5977e-01, -7.0978e-01],
         [-9.7467e-01,  2.4008e-01,  7.6207e-03,  1.1161e+00,  1.3275e-02,
           1.0441e-01,  5.3247e-01, -4.3703e-01, -9.5044e-01, -8.5648e-02,
          -4.2661e-01, -2.1896e-01, -3.3104e-01,  1.4937e-01,  1.5008e-01,
           7.3910e-01, -4.9497e-01, -1.6423e-01, -3.0677e-01,  7.0275e-01,
           2.8688e-01, -1.8636e-01, -2.6406e-01,  9.3415e-01, -7.2593e-01],
         [-5.4135e-01, -5.7577e-01,  1.1762e-01, -1.0132e+00,  5.9492e-01,
          -1.6785e-01,  1.1437e-01,  8.7389e-01, -2.1853e-01, -4.6879e-01,
          -8.3753e-01, -8.4439e-01, -3.4892e-01,  6.0213e-02,  6.0524e-01,
           8.5274e-01, -2.7590e-01, -1.3551e+00,  3.3919e-01, -7.4167e-01,
           4.1325e-01, -3.0475e-01, -1.0064e+00,  2.7131e-02, -5.6171e-01],
         [ 1.2335e-03,  2.3631e-01,  7.3410e-01,  1.6561e-01, -7.9446e-02,
           8.6646e-01,  1.0246e+00,  5.3378e-01, -5.4257e-02, -6.8268e-01,
          -9.3609e-01, -1.9677e-01, -5.0322e-01,  1.7406e-01, -8.5711e-01,
          -1.0841e-01, -3.2016e-01, -6.8573e-01,  1.2616e-01, -4.4522e-01,
           1.0555e-01,  2.5361e-01,  1.9369e-01,  7.1012e-01, -4.9647e-01],
         [ 5.2706e-01,  8.4208e-02, -4.7143e-01, -2.4861e-01, -4.7582e-01,
          -3.4062e-01, -1.0168e-01,  2.4166e-01, -2.7831e-02,  7.9518e-01,
          -7.7737e-01, -4.3102e-02, -3.4650e-01,  8.9165e-01,  5.0451e-01,
           1.3987e-01,  6.1640e-01,  1.9535e-01,  2.9864e-01, -4.8438e-01,
           2.0655e-01, -1.0455e+00, -4.0522e-01, -6.9531e-01, -5.7205e-02],
         [-3.0592e-01, -1.6552e-01,  3.3971e-01, -1.7014e-01,  4.7695e-01,
           5.0318e-01,  1.5752e-01, -5.1832e-01, -4.5688e-01, -6.2312e-01,
          -6.0513e-01, -4.5059e-01,  1.8489e-01, -7.5514e-02, -1.7707e-02,
          -7.4046e-01, -4.0662e-01,  4.2205e-01,  3.8234e-01,  4.0054e-01,
           5.2959e-01, -9.3754e-01, -2.9537e-01, -5.0430e-01,  4.9331e-01],
         [-1.8223e-01, -9.2235e-01, -4.1639e-01, -5.2752e-01,  3.3120e-01,
          -3.4137e-01,  7.3983e-03, -6.3205e-01, -5.1692e-01,  2.6544e-01,
           2.1018e-01, -4.2059e-01,  2.7967e-01,  3.7100e-01, -1.0455e-01,
          -3.9972e-01, -2.7286e-01, -2.8419e-01,  1.2431e-01, -3.0939e-01,
           2.5792e-02, -7.4927e-01, -1.4266e-01,  3.5220e-01,  7.7984e-01],
         [ 1.6084e-01,  4.0662e-01, -3.1163e-02,  1.1569e-01,  9.1398e-01,
           1.7726e-02,  6.4037e-01,  5.5782e-02, -4.9845e-01,  4.9346e-02,
          -1.4346e-01, -9.2266e-01, -5.1243e-01, -3.2470e-02, -1.8939e-01,
          -4.2919e-01,  3.8548e-01, -1.3371e-01,  2.4783e-01, -5.9162e-01,
           1.0668e+00, -1.3815e+00, -4.6234e-01, -8.0357e-01,  4.2303e-01],
         [ 4.6818e-01, -3.5656e-01,  6.3260e-01, -8.7443e-01, -7.3347e-01,
          -6.0610e-01, -1.0854e+00, -5.7013e-01, -8.5107e-01,  6.4010e-02,
           5.0755e-01,  4.8414e-01,  2.2148e-01,  1.5551e-01, -4.4531e-01,
          -5.2939e-01, -2.9650e-01,  8.2987e-01, -3.6351e-01, -3.0688e-01,
           4.5664e-01,  1.8780e-01,  7.8163e-01, -3.8838e-01,  8.1132e-01],
         [-1.3862e-01, -5.8867e-01,  1.4003e-01, -1.0920e-01, -1.5512e-01,
           1.0334e-01,  2.2118e-01, -5.4045e-01, -1.4119e-01, -6.1780e-01,
           2.7888e-01, -2.8433e-01,  2.6691e-01, -1.4319e-01, -4.8347e-01,
          -7.5209e-01, -2.9093e-01,  6.5071e-02, -1.3725e-01, -4.9312e-01,
          -6.5891e-01, -7.5671e-01, -4.2437e-01,  1.1435e-02, -2.4049e-01],
         [-4.5350e-01, -2.3526e-01,  2.9985e-01, -3.2824e-01,  4.5776e-01,
          -8.7570e-01, -4.1372e-02, -5.0296e-01,  4.0276e-01, -8.3662e-01,
          -3.6320e-01,  1.5467e-02, -5.7463e-01,  4.5830e-01, -1.3575e-01,
           4.4452e-01,  1.5799e-01,  5.3831e-01, -7.4302e-01,  4.2053e-01,
           3.2993e-01,  7.7535e-01,  7.0600e-01,  6.4243e-01, -2.4098e-01],
         [-1.3750e-01, -7.2446e-01, -1.6196e-01,  1.0523e-01,  3.0395e-02,
          -6.8108e-01,  1.2763e-01,  3.7580e-01,  6.9212e-01,  4.0057e-01,
          -7.9446e-04,  1.9732e-01, -1.0139e+00,  1.8660e-01, -6.9787e-01,
          -2.2762e-01,  6.0799e-02, -6.4970e-01,  3.2611e-01, -5.7128e-01,
          -6.7913e-01, -4.5713e-01,  9.6708e-02, -1.5847e+00,  6.5686e-01],
         [-5.4316e-01,  1.1193e-01, -5.3770e-01,  4.8829e-01,  1.6487e-01,
          -7.7299e-01, -6.7353e-01,  3.0329e-01, -4.9024e-01,  3.2247e-01,
           5.1186e-02, -6.5538e-01, -1.1752e+00,  1.4916e-01, -2.0572e-01,
           2.4950e-02,  4.1163e-01, -4.7160e-01,  4.2404e-01, -1.9695e-01,
           5.1809e-01,  1.7903e-01,  6.5096e-02, -4.7283e-02, -4.4341e-01],
         [ 3.5580e-01,  1.3543e-01,  1.1088e-01, -3.8620e-01,  6.0868e-01,
          -2.8624e-01, -8.8561e-01,  2.5651e-01,  3.8911e-01,  6.5081e-01,
           3.3809e-01,  4.0816e-01, -1.5258e-01, -4.3220e-01,  4.0012e-02,
          -7.7617e-01,  3.9849e-01, -2.5274e-01,  5.3013e-02, -2.6627e-01,
          -5.3686e-01, -1.4362e-01, -4.3723e-01, -2.1836e-01, -6.5554e-01],
         [-8.7627e-01,  7.4382e-01, -2.5462e-01,  3.0762e-01, -7.6819e-03,
           1.2675e-01,  4.6288e-01, -2.0866e-01,  3.9369e-01,  2.9279e-01,
          -9.8894e-01, -1.4827e-01,  4.0329e-01,  7.4280e-02, -2.3036e-01,
           1.7162e-02, -1.9982e-01, -8.2871e-02,  4.7290e-01, -7.2887e-01,
          -9.3077e-01, -3.2372e-01,  4.0903e-01,  6.3037e-01,  2.1486e-01]]],
       grad_fn=<SqueezeBackward1>)